# AWS Region (will be overridden by GitHub Actions)
aws_region = "ap-south-1"

# Environment
environment = "dev"

# AMI ID for the EC2 instance
ami_id = "ami-01a00762f46d584a1"

# EC2 instance type
instance_type = "t3.micro"

# RDS Database Configuration
db_name              = "mydb"
db_username          = "dbadmin"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
